name: Build and Push Docker Image

on:
  push:
    paths-ignore:
      - "README.md"
      
  pull_request:
    paths-ignore:
      - "README.md"

  release:
    types: [published]

jobs:

  check-files:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

  validate-kustomize:
    uses: datum-cloud/actions/.github/workflows/validate-kustomize.yaml@v1.9.0

  publish-container-image:
    needs: validate-kustomize
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-docker.yaml@v1.9.0
    with:
      image-name: email-provider-resend
    secrets: inherit

  publish-kustomize-bundles:
    needs: publish-container-image
    permissions:
      id-token: write
      contents: read
      packages: write
    uses: datum-cloud/actions/.github/workflows/publish-kustomize-bundle.yaml@v1.9.0
    with:
      bundle-name: ghcr.io/datum-cloud/email-provider-resend-kustomize
      bundle-path: config
      image-overlays: config/base
      image-name: ghcr.io/datum-cloud/email-provider-resend
      debug: true
    secrets: inherit
